.menu {
    display: flex;
    width: 400px;
    height: 30px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .3s;
    transform: translate(-390px);
}

.menu:hover {
    transition-duration: .3s;
    transform: translate(0);
}

.menu_item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .3s;
}
.menu_item:hover {
    background-color: #CFD8DC;
}